:root {
  --primaryColor: #144E5A;
  --secondaryColor: #FFB901;
  --greyColor: #FFE2C8;
  --redColor: #ed1c24;
  --blackColor: #1C2520;
  --whiteColor: #fff;
  --duration: 0.4s ease-in-out;
  --headerHeight: 0;
  --headerbgColor: transparent;
  --maxWidth: 1200px;
  --shadowColor: #0000004f;
  --header: 120px;
  --shadow: transparent;
  --justified-content: center;
  --raduis: 4px;
  --bagheaderscroll: #144e5ac9;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}
img {
  pointer-events: none;
}
body header,
body footer {
  width: 100%;
}
body header > div,
body footer > div,
body header article,
body footer article {
  max-width: var(--maxWidth);
  margin-inline: auto;
  padding-inline: 20px;
}
body main {
  padding-top: var(--headerHeight);
}
body main section {
  width: 100%;
}
body main section > div,
body main section > article {
  max-width: var(--maxWidth);
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
  overflow: hidden;
}
body .--button {
  outline: 0;
  max-width: 250px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--blackColor);
  color: var(--whiteColor);
  border-radius: var(--raduis);
  transition: all var(--duration);
  padding: 15px 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  place-content: center;
  z-index: 10;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}
body .--button._primary {
  border-color: var(--primaryColor);
  color: var(--primaryColor);
  transition: all var(--duration);
}
body .--button._primary:hover {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}
body .--button._white {
  border-color: var(--whiteColor);
  color: var(--whiteColor);
}
body .--button._white:hover {
  background-color: var(--whiteColor);
  color: var(--primaryColor);
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamrounded-bold-webfont.woff2') format('woff2'), url('gothamrounded-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamroundedbold_21016-webfont.woff2') format('woff2'), url('gothamroundedbold_21016-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamrounded-bolditalic-webfont.woff2') format('woff2'), url('gothamrounded-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbook';
  src: url('gothamrounded-book-webfont.woff2') format('woff2'), url('gothamrounded-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbook';
  src: url('gothamroundedbook_21018-webfont.woff2') format('woff2'), url('gothamroundedbook_21018-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbook';
  src: url('gothamrounded-bookitalic-webfont.woff2') format('woff2'), url('gothamrounded-bookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamrounded-light-webfont.woff2') format('woff2'), url('gothamrounded-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamroundedlight_21020-webfont.woff2') format('woff2'), url('gothamroundedlight_21020-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamrounded-lightitalic-webfont.woff2') format('woff2'), url('gothamrounded-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamrounded-medium-webfont.woff2') format('woff2'), url('gothamrounded-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamroundedmedium_21022-webfont.woff2') format('woff2'), url('gothamroundedmedium_21022-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_roundedbold';
  src: url('gothamrounded-mediumitalic-webfont.woff2') format('woff2'), url('gothamrounded-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'gotham_roundedbold', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--blackColor);
}
.fade-left,
.fade-right,
.fadein {
  opacity: 0;
}
.fade-left._appear,
.fade-right._appear,
.fadein._appear {
  transform: none;
  opacity: 1;
  transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}
.fade-left._appear:nth-child(2n+1),
.fade-right._appear:nth-child(2n+1),
.fadein._appear:nth-child(2n+1) {
  transition-delay: 40ms;
}
.fade-left {
  transform: translateX(-100%);
}
.fade-right {
  transform: translateX(100%);
}
.fadein {
  transform: translateY(50px);
}
header {
  background-color: var(--headerbgColor);
  padding: 20px;
  height: var(--header) !important;
  transition: all var(--duration);
  box-shadow: 0 0 2px var(--shadow);
}
header .header {
  display: flex;
  justify-content: var(--justified-content);
  align-items: center;
  width: 100%;
}
header .header-logo svg {
  width: 60px;
}
header .header-logo svg .--svg-fill {
  fill: var(--whiteColor);
}
header .header-logo svg .--svg-fill1 {
  fill: var(--secondaryColor);
}
header .header-logo svg .--svg-fill2 {
  fill: var(--primaryColor);
}
header .header-logo span {
  font-size: 1.5rem;
  color: var(--blackColor);
  font-weight: bold;
}
header .header-logo._logo svg {
  width: 100px;
}
header .header-logo img {
  width: 60px;
}
header .header-menu {
  display: flex;
  gap: 5px;
  align-items: center;
  list-style: none;
}
header .header-menu li {
  height: 100%;
  width: fit-content;
  position: relative;
}
header .header-menu li a {
  position: relative;
  color: var(--blackColor);
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all var(--duration);
}
header .header-menu li a:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background-color: var(--secondaryColor);
  transition: all var(--duration);
}
header .header-menu li a:hover {
  color: var(--primaryColor);
}
header .header-menu li a:hover:after {
  width: 100%;
}
._scroll header {
  --headerbgColor: var(--bagheaderscroll);
  --shadow: var(--bagheaderscroll);
  box-shadow: 0 0 2px var(--shadow);
  height: 80px !important;
}
