@{
    Html.Bundle("css/graphic.css");
}

<section class="hero">
    <article>
        <div class="hero-description fade-left">
            <span class="title">Hello</span>
            <p class="description"><span>I'm</span> Graphic Designer</p>
            <span>
                As a graphic designer with a passion for creating visually impactful designs, I believe in designing beyond the surface.
                To me, design is not just about making something look good, it's about creating something that truly resonates with the audience and achieves a specific goal. My approach to design is rooted in purpose and passion, and I take the time to understand the context and message behind each project before diving into the design process.
            </span>
            <button class="--button _primary">CV Download</button>
        </div>
        <div class="hero-image fade-right">
            <img src="./img/graphic/personal.png" alt="personal" class="personal" />
            <img src="./img/graphic/splash.png" alt="splash" class="splash" />
        </div>
    </article>
</section>
<section class="about">
    <article>
        <span class="fadein">Skills</span>
        <div class="about-resume fadein">
            <div>
                <img src="/img/graphic/adobephotoshop.png" alt="photoshop" />
            </div>
            <div>
                <img src="/img/graphic/adobeDesign.png" alt="design adobe" />
            </div>
            <div>
                <img src="/img/graphic/AdobeEffect.png" alt="adobe effect" />
            </div>
            <div>
                <img src="/img/graphic/adobeIllustartor.png" alt="illustrator" />
            </div>
            <div>
                <img src="/img/graphic/office.png" alt="office" />
            </div>
        </div>
        <span class="fadein">Education</span>
        <div class="about-education">
            <div class="fadein">
                <div class="about-education-image ">
                    <img src="/img/work.gif" alt="work" class="_work" />
                </div>
                <div class="about-education-title">
                    <div>
                        <span>Graphic Designer</span>
                        <p>Angry Monkey Agency</p>
                        <p>
                            June 2022 - Present Baabda, Lebanon
                        </p>
                    </div>
                    <p>
                        ● Create visual text, imagery concepts, logos, flyers, etc.…<br />
                        ● Develop the overall layout and production design for advertisements, brochures, magazines, and corporate reports, etc.
                    </p>
                </div>
            </div>
            <div class="fadein">
                <div class="about-education-image ">
                    <img src="/img/work.gif" alt="work" class="_work" />
                </div>
                <div class="about-education-title">
                    <div>
                        <span>
                            Intern Graphic Designer
                        </span>
                        <p>Maliks</p>
                        <p>
                            June 2021 - August 2021 Jnah, Lebanon
                        </p>
                    </div>
                    <p>
                        ● Create visual text, imagery concepts, logos, flyers, etc.…<br />
                        ● Develop the overall layout and production design for advertisements, brochures, magazines, and corporate reports, etc.
                    </p>
                </div>
            </div>
            <div class="fadein">
                <div class="about-education-image ">
                    <img src="/img/education.gif" alt="work" class="_work" />
                </div>
                <div class="about-education-title">
                    <div>
                        <span>
                            Al Kafaat
                        </span>
                        <p>Bachelor of advertising and graphic design</p>
                        <p>
                            October 2019 - May 2022 fanar, Lebanon
                        </p>
                    </div>
                    <p>
                        Creative advertising design combines words and pictures in a highly organized and persuasive way to sell products and ideas. Graphic design is the manipulation of graphic elements to communicate ideas, emotions and other abstract concepts visually.
                    </p>
                </div>
            </div>
            <div class="fadein">
                <div class="about-education-image ">
                    <img src="/img/award.gif" alt="work" class="_work" />
                </div>
                <div class="about-education-title" style="justify-content: flex-start;">
                    <div>
                        <span>
                            Udemy
                        </span>
                        <p>
                            Graphic Design masterclass
                        </p>
                        <p>
                            2020
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </article>
</section>