@{
    Html.Bundle("css/index.css");
    Html.Bundle("https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js");
    Html.Bundle("js/particles.js");
}
<section class="hero" id="particles">
    <article>
        <p class="fadein">A website portfolio is a collection of work samples that showcase a person's or company's skills, expertise, and achievements.</p>
        <a href="#portfolio" class="--button _white fadein">Show More</a>
    </article>
    <div class="mouse fadein">
        <span class="mouse-wheel"></span>
    </div>
</section>

<section class="service">
    <article>
        <span class="fadein">Our Featured Services</span>
        <p class="fadein">
            We Provide All Exclusive
            Services For Clients
        </p>
        <div class="items">
            <div class="items-item fadein">
                <div class="items-item-image">
                    <img decoding="async" src="https://kitpapa.com/jimency/wp-content/uploads/2022/11/crayons-1.gif" class="attachment-full size-full" alt="" loading="lazy">
                </div>
                <div class="items-item-information">
                    <p>UI/UX Design</p>
                    <span>Our customers get solutions and business opportunities instead of just projects.</span>
                </div>
            </div>

            <div class="items-item fadein">
                <div class="items-item-image">
                    <img decoding="async" src="https://kitpapa.com/jimency/wp-content/uploads/2022/11/worldwide-1.gif" class="attachment-full size-full" alt="" loading="lazy">
                </div>
                <div class="items-item-information">
                    <p>SEO & Marketing</p>
                    <span>Our customers get solutions and business opportunities instead of just projects.</span>
                </div>
            </div>

            <div class="items-item fadein">
                <div class="items-item-image">
                    <img decoding="async" src="https://kitpapa.com/jimency/wp-content/uploads/2022/11/diagram-1.gif" class="attachment-full size-full" alt="" loading="lazy">
                </div>
                <div class="items-item-information">
                    <p>
                        Business Plan
                    </p>
                    <span>Our customers get solutions and business opportunities instead of just projects.</span>
                </div>
            </div>

            <div class="items-item fadein">
                <div class="items-item-image">
                    <img decoding="async" src="https://kitpapa.com/jimency/wp-content/uploads/2022/11/computer-1.gif" class="attachment-full size-full" alt="" loading="lazy">
                </div>
                <div class="items-item-information">
                    <p>
                        Web Design
                    </p>
                    <span>Our customers get solutions and business opportunities instead of just projects.</span>
                </div>
            </div>

            <div class="items-item fadein">
                <div class="items-item-image">
                    <img decoding="async" src="https://kitpapa.com/jimency/wp-content/uploads/2022/11/upload-1.gif" class="attachment-full size-full" alt="" loading="lazy">
                </div>
                <div class="items-item-information">
                    <p>
                        Cloud Services
                    </p>
                    <span>Our customers get solutions and business opportunities instead of just projects.</span>
                </div>
            </div>

            <div class="items-item fadein">
                <div class="items-item-image">
                    <img decoding="async" src="https://kitpapa.com/jimency/wp-content/uploads/2022/11/copy-1.gif" class="attachment-full size-full" alt="" loading="lazy">
                </div>
                <div class="items-item-information">
                    <p>
                        Hosting Services
                    </p>
                    <span>Our customers get solutions and business opportunities instead of just projects.</span>
                </div>
            </div>

        </div>
    </article>
</section>

<section class="portfolio" id="portfolio">
    <article>
        <span class="fade-left">Our Portfolio</span>
        <p class="fade-left">
            Some Of Our Works
        </p>
        <div class="items">
            <a href="/marketing" target="_blank" class="fadein">
                <div class="items-item" style="background-image:url(/img/marketing.jpg)">
                    <span>Marketing</span>
                </div>
            </a>
            <a href="/hr" target="_blank" class="fadein">
                <div class="items-item" style="background-image:url(/img/hr.jpg)">
                    <span>human resource</span>
                </div>
            </a>
            <a href="/graphic-design" target="_blank" class="fadein">
                <div class="items-item" style="background-image:url(/img/graphics.jpg)">
                    <span>graphic Design</span>
                </div>
            </a>
            <a href="/developer" target="_blank" class="fadein">
                <div class="items-item" style="background-image:url(/img/developer.jpg)">
                    <span>Developer</span>
                </div>
            </a>
        </div>
    </article>
</section>

<section class="contact">
    <article>
        <span class="fadein">Contact Us</span>
        <p class="fadein">
            Please feel free to contact us for any inquiries or assistance.
        </p>
        <div class="contact-info">
            <div class="contact-info-image fade-left">
                <img src="/img/email.gif" alt="email" />
            </div>
            <div class="contact-info-form">
                <div class="fadein">
                    <span>Full Name:</span>
                    <input type="text" name="fullName" placeholder="wissam farhat"/>
                </div>
                <div class="fadein">
                    <span>Email:</span>
                    <input type="text" name="email" placeholder="farhat.wissam@outlook.com" />
                </div>

                <div class="fadein">
                    <span>Phone number:</span>
                    <input type="text" name="phone" placeholder="+961 78 999 999" />
                </div>
                <div class="fadein">
                    <span>Description:</span>
                    <textarea name="description"></textarea>
                </div>
                <button id="subnit" class="--button _primary fadein">
                    Send
                </button>
            </div>
        </div>

    </article>
</section>