@{
    Html.Bundle("css/marketing.css");
    Html.Bundle("js/typewriter.js");

}

<section class="hero">
    <article>
        <div class="hero-info fade-left">
            <div class="hero-info-writer">
                <p>Hello, </p>
                <span id="typewiter"></span>
                <span id="cursor">|</span>
            </div>
            <p class="hero-info-description">
                I am a marketing professional with a Master's degree in Marketing and a passion for creating effective marketing strategies. I possess a deep understanding of market research, consumer behavior, and branding, and have experience developing and executing successful marketing campaigns across a variety of industries. With strong communication and problem-solving skills, I am able to collaborate effectively with cross-functional teams and adapt quickly to changing environments. My goal is to help businesses achieve their marketing objectives through data-driven insights and creative solutions. I am committed to delivering exceptional results that drive business success.
            </p>
            <a href="#" class="--button _primary">CV Download</a>
        </div>
        <div class="hero-image fade-right">
            <partial name="Assets/Blob" />
        </div>
    </article>
</section>
<section class="about" id="about">
    <article>
        <div class="about-img fade-left">
            <img src="/img/marketing/profile.jpg" alt="profile" />
        </div>
        <div class="about-info fade-right">
            <span>About me</span>
            <p>Marketing Executive</p>
            <div>
                <p>I am a driven and innovative marketing professional with a Master's degree in Marketing and a proven track record of developing and implementing successful marketing campaigns. My extensive experience in market research, consumer behavior, and digital marketing has equipped me with the skills and knowledge to create and execute effective marketing strategies that drive business growth. I am passionate about leveraging data insights to inform marketing decisions and creating impactful content that resonates with target audiences. With strong project management skills, I am able to coordinate cross-functional teams to deliver projects on time and within budget. My goal is to help businesses achieve their marketing objectives and exceed their targets through strategic thinking and creative problem-solving</p>
                <div class="information">
                    <div>
                        <p><span><partial name="Assets/User" /></span>Dana Isamil</p>
                        <p><span><partial name="Assets/Mail" /></span>DanaIsamil2000@gmail.com</p>
                        <p><span><partial name="Assets/Birthday" /></span>20 Dec, 2000</p>
                    </div>
                    <div>
                        <p><span><partial name="Assets/Phone" /></span>+961 99 999 999</p>
                        <p><span><partial name="Assets/Instagram" /></span>/Dana.ismail</p>
                        <p><span><partial name="Assets/Facebook" /></span>/Dana.ismail</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<section class="resume" id="resume">
    <article>
        <span class="fadein">My Resume</span>
        <p class="fadein">Education & Experience</p>
        <div class="resume-education">
            <div class="fadein">
                <div class="resume-education-image ">
                    <img src="/img/work.gif" alt="work" class="_work" />
                </div>
                <div class="resume-education-title">
                    <div>
                        <span>Marketing Executive</span>
                        <p>Angry monkey agency</p>
                        <p>Mar 2022 - Present</p>
                    </div>
                    <p>
                        As a Marketing Executive at Angry monkey agency, I was responsible for developing and executing comprehensive marketing plans that drove business growth and brand awareness
                    </p>
                </div>
            </div>
            <div class="fadein">
                <div class="resume-education-image">
                    <img src="/img/education.gif" alt="education" />
                </div>
                <div class="resume-education-title">
                    <div>
                        <span>Master of Business Administration - MBA</span>
                        <p>Saint Joseph University of Beirut</p>
                        <p>Sep 2021 - Jun 2023</p>
                    </div>
                    <p>
                        Master of Business Administration - MBA at Saint Joseph University of Beirut
                    </p>
                </div>
            </div>
            <div class="fadein">
                <div class="resume-education-image">
                    <img src="/img/education.gif" alt="education" />
                </div>
                <div class="resume-education-title">
                    <div>
                        <span>Bachelor of Business Administration - BBA</span>
                        <p>Saint Joseph University of Beirut</p>
                        <p>2018 - 2020</p>
                    </div>
                    <p>
                        Bachelor of Business Administration - BBA at Saint Joseph University of Beirut
                    </p>
                </div>
            </div>
        </div>
        <div class="resume-skills">
            <div class="resume-skills-skill fadein">
                <div class="resume-skills-skill-title">
                    <span>Microsoft Excel</span>
                    <span>95%</span>
                </div>
                <span style="--r:95%"></span>
            </div>
            <div class="resume-skills-skill fadein">
                <div class="resume-skills-skill-title">
                    <span>Microsoft Word</span>
                    <span>95%</span>
                </div>
                <span style="--r:95%"></span>
            </div>
            <div class="resume-skills-skill fadein">
                <div class="resume-skills-skill-title">
                    <span>Microsoft Access</span>
                    <span>95%</span>
                </div>
                <span style="--r:95%"></span>
            </div>
            <div class="resume-skills-skill fadein">
                <div class="resume-skills-skill-title">
                    <span>Microsoft Office</span>
                    <span>95%</span>
                </div>
                <span style="--r:95%"></span>
            </div>
            <div class="resume-skills-skill fadein">
                <div class="resume-skills-skill-title">
                    <span>Marketing Digital</span>
                    <span>90%</span>
                </div>
                <span style="--r:90%"></span>
            </div>
            <div class="resume-skills-skill fadein">
                <div class="resume-skills-skill-title">
                    <span>Digital Marketing</span>
                    <span>90%</span>
                </div>
                <span style="--r:90%"></span>
            </div>
            <div class="resume-skills-skill fadein">
                <div class="resume-skills-skill-title">
                    <span>Content Creator</span>
                    <span>85%</span>
                </div>
                <span style="--r:85%"></span>
            </div>

        </div>
        <a href="#" class="--button _primary fadein">Download CV</a>
    </article>
</section>
<section class="contactUs" id="contact">
    <article>
        <span class="fadein">Contact US</span>
        <div class="contactUs-form">
            <div class="fadein">
                <span>Full Name:</span>
                <input type="text" class="--input" name="fullName" spellcheck="false" />
            </div>
            <div class="fadein">
                <span>Phone Number:</span>
                <input type="text" class="--input" name="number" spellcheck="false"/>
            </div>
            <div class="fadein">
                <span>Email:</span>
                <input type="text" class="--input" name="email" spellcheck="false" />
            </div>
            <div class="fadein">
                <span>Subject:</span>
                <textarea name="subject" class="--input" spellcheck="false"></textarea>
            </div>
            <button class="--button _primary fadein">Contact</button>
        </div>
    </article>
</section>